<div class="parent-container">
  <div #contentWindow class="content-modal">
    <div class="content-header">
      <div class="content-title">Content</div>
    </div>
    <div class="divider"></div>
    <div class="content-action-container">
      <!---<div class="card content-list-card">
        </div> --->
      <div>
        <div class="card content-add-card">
          <form class="form" (submit)="onFormSubmit($event)">
            <h1 class="content-add-form-title">Add Content</h1>
            <div class="form-group">
              <div class="form-control">
                <label for="content-title">Name</label>
                <input type="text" id="content-title" placeholder="Enter Name" (change)="contentAddNameChange($event)" #contentNameInput>
              </div>
              <div class="form-control">
                <label for="content-type">Content Type</label>
                <select class="" id="content-type"
                        #contentTypeSelect
                        (change)="onContentTypeSelect()">
                  <option value="" disabled selected>Select a content type</option>
                  @for (contentType of this.contentTypeList; track contentType.toLowerCase()) {
                    <option value="{{contentType}}">{{ contentType }}</option>
                  }
                </select>
              </div>
            </div>
            <div class="form-group-divider"></div>
            <div #childComponent class="form-group">
                <ng-container #componentChild *ngComponentOutlet="contentAddAddition"></ng-container>
            </div>
          </form>
        </div>
      </div>
      <div>
        <div class="card content-list-card">
          <div class="content-list-header">
            <h1 class="content-list-title">Content List</h1>
          </div>
          <div class="content-list">
            @for (content of this.contentService.contentList; track content.id) {
              <div class="content-list-item">
                <div class="content-list-item-name">{{ content.name }}</div>
                <div class="content-list-item-type">{{ content.content_type }}</div>
                <div class="content-list-item-action">
                  <div>TODO</div>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
