<form class="project-create-form">
  <div class="project-front-page">
    <div class="form-item-container">
      <label for="project-name">Project Name</label>
      <input id="project-name" type="text" name="project_name" placeholder="Project Name"
             [ngModelOptions]="{standalone: true}" required [(ngModel)]="projectName">
    </div>
    <div class="form-item-container">
      <label for="project-link">Project Link</label>
      <input id="project-link" type="text" placeholder="Project Link" required
             [ngModelOptions]="{standalone: true}" [(ngModel)]="projectLink">
    </div>
    <div class="form-item-slider-container">
      <div class="slider-labels">
        <span>1</span>
        <label for="difficulty-slider">Difficulty</label>
        <span>10</span>
      </div>
      <input id="difficulty-slider" type="range" min="1" max="10" step="1" value="1" list="tickmarks"
             [ngModelOptions]="{standalone: true}" [(ngModel)]="difficulty">
      <datalist id="tickmarks">
        <option value="1">
        <option value="3">
        <option value="5">
        <option value="7">
        <option value="10">
      </datalist>
    </div>
    <div class="form-item-container form-item-thumbnail-container">
      <label>Thumbnail</label>
      @if (thumbnailType.length == 0) {
        <select [(ngModel)]="thumbnailType" [ngModelOptions]="{standalone: true}">
          <option value="" disabled selected>Select a thumbnail option</option>
          <option value="file">Upload</option>
          <option value="url">URL</option>
        </select>
      } @else if (thumbnailType === 'file') {
        <label for="thumbnail-upload" class="custom-file-upload">
          {{ thumbnailName }}
          <input id="thumbnail-upload" accept="image/*"
                 type="file"
                 style="display: none;"
                 required
                 (change)="onThumbnailSelect($event)"
          >
        </label>
      } @else {
        <input type="url"
               name="thumbnail_url"
               placeholder="Thumbnail URL"
               required
               [(ngModel)]="thumbnailUrl">
      }
    </div>
    <div class="text-area-container">
      <label for="project-description-text-box">Description</label>
      <span>Markdown Supported</span>
      <a href="https://www.markdownguide.org/cheat-sheet/" target="_blank">Markdown Cheat Sheet</a>
      <textarea id="project-description-text-box"
                name="project-description"
                placeholder="Project Description" required class="slider text-area"
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="projectDescription"></textarea>
      <div class="divider"></div>
      @if (this.showPreview) {
        <div class="markdown-preview-wrapper" style="overflow: auto" (click)="showPreview = false">
          @if (this.projectDescription.length > 0) {
            <markdown class="markdown-preview" [data]="projectDescription" [lineHighlight]="true" [mermaid]="true"
                      [emoji]="true"></markdown>
            <div class="preview-foreground">
              <div>Hide Preview</div>
            </div>
          } @else {
            <button (click)="showPreview = false">Hide Preview</button>
          }
        </div>
      } @else {
        <button (click)="showPreview = true">Show Preview</button>
      }
    </div>
  </div>
  <input type="submit" value="Save Project" (click)="saveProject()">
</form>
