.preview-background {
  position: fixed;
  top: 25%;
  right: 10%;
  bottom: 25%;
  left: 25%;
  overflow: hidden;
  z-index: 99999;
}

.terminal-container {
  font-optical-sizing: auto;
  position: absolute;
  top: 2%;
  right: 1%;
  bottom: 2%;
  left: 1%;
  outline:  solid 2px;
  border-radius: 5px;
  padding-left: 0.5%;
  padding-top: 0;
  padding-bottom: 0;
}

.terminal-output__output {
  line-height: 0;
  user-select: text;
}


.history-output-style {
  line-height: 0;
}
