<div #dropZone class="content-edit-container" id="drop-zone">
  <div class="edit-header-container">
    <h1 class="edit-header">{{ staticProfileName }}</h1>
    <div class="edit-header-divider"></div>
  </div>
  <div class="profile-container">
    <div class="profile-info-container">
      <div class="profile-info">
        <label for="profile-name" class="profile-info-label">Name:</label>
        <input id="profile-name" class="profile-info-value" [(ngModel)]="profileName">
        <label for="profile-type">Type</label>
        <select id="profile-type" [(ngModel)]="this.selectedProfileType">
          @for (contentProfileType of profileTypes; track contentProfileType) {
              <option value="{{ contentProfileType }}" [selected]="contentProfile.profile.contentProfileType == contentProfileType">{{ contentProfileTypeToString(contentProfileType) }}</option>
          }
        </select>
      </div>
    </div>
    <div class="profile-info-container">
      <div class="profile-info">
        <div class="profile-info-label">Guest Username:</div>
        <input class="profile-info-value" [(ngModel)]="this.guestUserName">
        <div class="profile-info-value">{{ contentProfile.profile.guestUser.username }}</div>
      </div>
    </div>
    <div class="profile-info-container">
      <div class="profile-content-list">
        @for (content of contentList; track content; let idx = $index) {
          <div class="content-container">
            <div>{{content.name}}</div>
            <button class="content-remove-button" (click)="onRemoveContent($event, content)">Remove</button>
          </div>
        }
      </div>
    </div>
  </div>
  <div class="save-button-container">
    <button class="save-button" (click)="saveProfile()">Save</button>
  </div>
</div>
