<div #historyContainer class="terminal-output-wrapper">
  @for (history of terminalService.history; track history.output) {
    @if (history.prompt != null) {
      <h1 [ngStyle]="{'font-family': terminalService.theme.terminal.font.family + ', monospace'}">
      <span
        [ngStyle]="{'font-family': terminalService.theme.terminal.font.family + ', monospace', 'color': terminalService.theme.terminal.ps1.nameColor}">{{terminalService.contentService?.getUserName()}}</span>
        <span
          [ngStyle]=" {'font-family': terminalService.theme.terminal.font.family + ', monospace', 'color': terminalService.theme.terminal.ps1.atColor}">&#64;</span>
        <span
          [ngStyle]="{'font-family': terminalService.theme.terminal.font.family + ', monospace', 'color': terminalService.theme.terminal.ps1.hostnameColor}">marinus.dev</span>
        <span
          [ngStyle]="{'font-family': terminalService.theme.terminal.font.family + ', monospace', 'color': terminalService.theme.terminal.primaryColor}">:~$</span>
        <span
          [ngStyle]="{'font-family': terminalService.theme.terminal.font.family + ', monospace', 'color': terminalService.theme.terminal.primaryColor}"
          class="terminal-output terminal-output__prompt">{{ history.prompt }}</span>
      </h1>
    }
    @if (history.output) {
      <h1 class="history-output-style">
        @if (history.historyType == HistoryType.INNER_HTML) {
          <pre class="terminal-output__output"
               *ngFor="let line of getHistoryOutputAsString(history).split('\n')"
               [ngStyle]="{'color': terminalService.theme.terminal.primaryColor, 'font-family': terminalService.theme.terminal.font.family + ', Courier New, Courier, monospace'}"
               [innerHTML]="sanitizer.bypassSecurityTrustHtml(line)"></pre>
        } @else if (history.historyType == HistoryType.BANNER) {
          <pre class="terminal-output__output"
               [ngStyle]="{'color': terminalService.theme.terminal.primaryColor, 'font-family': terminalService.theme.terminal.font.family + ', Courier New, Courier, monospace'}"
               *ngFor="let line of getHistoryOutputAsString(history).split('\n')">{{ line }}</pre>
        } @else if (history.historyType == HistoryType.LINE_WRAP) {
          <pre class="terminal-output__output"
               [ngStyle]="{'color': terminalService.theme.terminal.primaryColor, 'font-family': terminalService.theme.terminal.font.family + ', Courier New, Courier, monospace'}"
               *ngFor="let line of getHistoryOutputAsString(history).split('\n')">{{ line }}</pre>
        } @else {
          <span class="terminal-output__output"
                [ngStyle]="{'color': terminalService.theme.terminal.primaryColor, 'font-family': terminalService.theme.terminal.font.family + ', monospace'}"
          >{{ history.output }}</span>
        }
      </h1>
    }
  }
</div>
