.project-background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #1a1a1a;
  overflow: hidden;
}

.project-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: max-width, opacity 0.5s ease-in-out, max-width 0.5s ease-in-out;
  overflow: auto;
}

.project-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  background-color: black;
  border-radius: 3px;
  top: 49%;
  left: 50%;
  bottom: 10vh;
  cursor: pointer;
  transform: translate(-50%, -50%);
  height: calc(90vh - 1vh);
  transition: box-shadow 0.3s ease-in-out;
  aspect-ratio: 16 / 9;
  margin-top: 1.6%;
}

.project-container:hover {
  box-shadow: rgba(33, 255, 0, 0.55) 0 0 .9em .3em;
}

.project-container-red-glow {
  box-shadow: rgba(255, 3, 3, 0.55) 0 0 .9em .3em;
}
.project-container-glow {
  box-shadow: rgba(185, 116, 18, 0.55) 0 0 .9em .3em;
  background-color: floralwhite;
}

.project-container-glow:hover {
  box-shadow: rgba(33, 255, 0, 0.55) 0 0 .9em .3em;
  background-color: black;
}

.project-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #1a1a1a;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  flex-direction: column;
  user-select: none;
  transition: left 0.3s ease-in-out, right 0.3s ease-in-out;
}

.project-header h1 {
  color: white;
  margin-bottom: 40px;
  font-size: 60px;
  font-family: Poppins, monospace, serif;
  font-weight: 200;
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to right, #ffffff, #ff00ff, #620392);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
}

.project-description-wrapper {
  position: absolute;
  background-color: #0e0e0e;
  border-radius: 3px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid transparent;
  box-shadow: rgba(255, 3, 3, 0.55) 0 0 .4em .1em;
  flex-direction: column;
  top: 5%;
  right: 0.5%;
  bottom: 1%;
  left: 0.5%;
  transition: top 0.5s ease-in-out;
  padding-bottom: 0;
}

.project-description-header {
  font-family: Poppins, monospace, serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 3%;
}

.project-description-header > h2, a {
  color: white;
  text-decoration: none;

}

.project-description-header > h2, a:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
  text-underline-position: under;
  text-decoration-thickness: 2px;
  text-decoration-color: #ff00ff;
  background-image: linear-gradient(to right, floralwhite, white, navajowhite);
  -webkit-background-clip: text;
}


.markdown-wrapper {
  position: relative;
  width: auto;
  height: auto;
  background-color: #1a1a1a;
  border-radius: 3px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  user-select: none;
  overflow-x: hidden;
  color: white;
  font-family: Inter, monospace;
  margin-bottom: 30px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #191919 #666666;
}

.markdown {
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  border: 1px solid transparent;
  flex-direction: column;
  user-select: text;
  color: white;
  font-family: Inter, monospace;
  font-size: 12px !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;

}

.markdown-wrapper::-webkit-scrollbar {
  width: 10px;
}

.markdown-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.markdown-wrapper::-webkit-scrollbar-thumb {
  background: #888;
}

.markdown-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.click-for-more-info {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: gray;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  flex-direction: column;
  user-select: none;
  cursor: pointer;
  color: transparent;
  transition: background-color 0.9s ease-in, opacity 0.5s ease-in-out;
  font: 60px Poppins, monospace, serif;
  opacity: 0;
}

.click-for-more-info:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  background-image: linear-gradient(to right, ghostwhite, navajowhite, ghostwhite);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: .8;
}

.arrow-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.arrow-container:hover {
  background-color: black;
  cursor: pointer;
  opacity: 0.5;
}

.arrow-container:hover ~ .click-for-more-info {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  background-image: linear-gradient(to right, ghostwhite, navajowhite, ghostwhite);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: .8;
}

.arrow-container.left {
  left: 0;
}

.arrow-container.right {
  right: 0;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.close-description-button {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff0000;
  color: #000000;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, height 0.2s ease-in-out, width 0.2s ease-in-out;
}

.close-description-icon {
  border: solid floralwhite;
  border-width: 0 5px 4px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: border-bottom-color 0.5s ease-in-out, border-left-color 0.5s ease-in-out;
}

.close-description-button:hover ~ .close-description-icon {
  border-color: #ff00ff;
  border-width: 0 2px 2px 0;
}

.close-description-button:hover {
  background-color: darkred;
  color: #ffffff;
  height: 35px;
  width: 35px;
}
