.project-background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #1a1a1a;
}
.project-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border: 1px solid transparent;
  border-radius: 5px;
}

.project-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  box-shadow: rgba(185, 116, 18, 0.55) 0 0 .9em .3em;
  background-color: black;
  border-radius: 3px;
  top: 10%;
  right: 1%;
  bottom: 1%;
  left: 1%;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.project-container:hover {
  box-shadow: rgba(33, 255, 0, 0.55) 0 0 .9em .3em;

}

.project-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #1a1a1a;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  flex-direction: column;
  user-select: none;
}

.project-header h1 {
  color: white;
  margin-bottom: 20px;
  font-size: 60px;
  font-family: Poppins, monospace, serif;
  font-weight: 200;
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to right, #ffffff, #ff00ff, #620392);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
}

.project-description-wrapper {
  position: absolute;
  background-color: #0e0e0e;
  border-radius: 3px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid transparent;
  box-shadow: rgba(255, 3, 3, 0.55) 0 0 .4em .1em;
  flex-direction: column;
  top: 5%;
  right: 0.5%;
  bottom: 1%;
  left: 0.5%;
  transition: opacity 1s ease-in-out;
}

.project-description-header {
  font-family: Poppins, monospace, serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 3%;
}

.project-description-header > h2, a {
  color: white;
  text-decoration: none;

}
.project-description-header > h2, a:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
  text-underline-position: under;
  text-decoration-thickness: 2px;
  text-decoration-color: #ff00ff;
  background-image: linear-gradient(to right, floralwhite, white, navajowhite);
  -webkit-background-clip: text;
}


.markdown-wrapper {
  position: relative;
  min-width: 90%;
  min-height: 70%;
  background-color: #1a1a1a;
  border-radius: 3px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid transparent;
  flex-direction: column;
  user-select: none;
  overflow: scroll;
  color: white;
  font-family: Inter, monospace;
}

