<div class="line-wrapper">
  <h1 class="line-container">
      <span class="terminal-output"
           [ngStyle]="{'color': terminalService.theme.terminal.primaryColor, 'font-family': terminalService.theme.terminal.font.family + ', Courier New, Courier, monospace'}">
        Password:</span>
  </h1>
  <span style="visibility: hidden">:</span><input #input
                                                  id="terminal-password-input"
                                                  name="terminal-password-input"
                                                  class="terminal-password-input"
                                                  aria-label="terminal-password-input"
                                                  type="password"
                                                  [ngStyle]="{'color': this.terminalService.theme.terminal.primaryColor}">

</div>
