.terminal-password-input {
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  background-color: transparent;
  outline: none;
  width: 98%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-shadow: none;
  border: none;
  line-height: normal;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}

.line-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.line-container {
  margin: 0;
  display: inline-block;
}
.password-input-wrapper {

}

.style {
}

.terminal-output {
  padding: 0;
  margin: 0;
}
